@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: Georgia, "Times New Roman", serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
